@if (opening()) {
<div class="z-header">
  <!-- title -->
  <div class="title">
    <h1><span class="link" (click)="navigateBack()">Openings</span>  -  {{ opening()?.title }}</h1>
    <p>Open since {{ opening()?.open_date }}</p>
  </div>
  <!-- Applicants -->
  <div>{{ opening()?.number_of_applicants }} applicants</div>
  <!-- Status -->
  <div class="opening-status">
    {{ opening()?.status }}
  </div>
</div>

<div class="requirements-list-container">
  <div class="requirement-block">
    <h3>Mandatory({{selectedMandatoryRequirements().size}} selected)</h3>
    <div class="requirements-group">
      @for (req of opening()?.requirements?.mandatory?.contracted; track $index)
      {
        <span class="req-box" (click)="toggleSelection(req, 'mandatory')" [ngClass]="{ 'req-selected': isSelected(req, 'mandatory') }">{{ req }}</span>
      }
    </div>
  </div>
  <div class="requirement-block">
    <h3>Desirable({{selectedDesirableRequirements().size}} selected)</h3>
    <div class="requirements-group">
      @for (req of opening()?.requirements?.desirable?.contracted; track $index)
      {
      <span class="req-box" (click)="toggleSelection(req, 'desirable')" [ngClass]="{ 'req-selected': isSelected(req, 'desirable') }">{{ req }}</span>
      }
    </div>
  </div>
</div>
} @if (dataSource()) {
<div class="table-container">
    <h2>Candidates</h2>
  <table mat-table [dataSource]="dataSource()" class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let candidate">{{ candidate.name }}</td>
    </ng-container>

    <!-- Overall Score Column -->
    <ng-container matColumnDef="processStep">
      <th mat-header-cell *matHeaderCellDef>Step</th>
      <td mat-cell *matCellDef="let candidate">{{ candidate.processStep }}</td>
    </ng-container>

    <!-- Overall Score Column -->
    <ng-container matColumnDef="overallScore">
      <th mat-header-cell *matHeaderCellDef>Overall Score</th>
      <td mat-cell *matCellDef="let candidate">{{ candidate.overallScore }}</td>
    </ng-container>

    <!-- Header and Row Definitions -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="navigateTo(row.id)"></tr>
  </table>
</div>
}
